*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.title{
    text-align: center;
    margin-bottom: 60px;
}
.title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: black;
}
.title p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    width: 568px;
    margin: 30px auto;
}
/* ================Nav-bar=================== */
.navbar{
    background: rgb(62, 78, 214);
    padding: 20px 0;
}
.navbar a{
    color: white !important;
    font-size: 20px;
}
/* ================Nav-bar=================== */
/* ================My works==================== */
#service-part{
    margin-top: 100px;
    position: relative;
}
#service-part .line{
    width: 1px;
    height: 837px;
    background: url(../images/line.png);
    position: absolute;
    top: 98px;
    left: 50%;
    transform: translateX(-50%);
}
#service-part .up{
	height: 50px;
	font-size: 25px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	background: white;
	border: 1px solid black;
	color: black;
	position: absolute;
	top: -78px;
	left: 50%;
	transform: translatex(-50%);
	transition: .6s;
	cursor: pointer;
	z-index: 1;
}
#service-part .up:hover{
    background: rgb(17, 7, 51);
	border:1px solid rgb(17, 7, 51);
    color: white;
}
#service-part .down{
	height: 50px;
	font-size: 25px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	background: white;
	border: 1px solid black;
	color: black;
	position: absolute;
	bottom: -80px;
	left: 50%;
	transform: translatex(-50%);
	transition: .6s;
	cursor: pointer;
	z-index: 1;
}
#service-part .down:hover{
    background: rgb(17, 7, 51);
	border:1px solid rgb(17, 7, 51);
    color: white;
}
#service-part .service{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    background: #f1f1f1;
}
#service-part .service:nth-child(odd){
    flex-direction: row-reverse;
}
#service-part .service .heading{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#service-part .service:nth-child(odd) .heading{
    justify-content: flex-start;
}
#service-part .service .heading a{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: black;
    background: white;
    padding: 10px;
    border-radius: 5px;
    transition: .5s;
}
#service-part .service .heading a:hover{
    color: white;
    background: rgb(62, 78, 214);
}
#service-part .service .logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#service-part .service .logo .round{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(62, 78, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
}
#service-part .service .details{
    width: 40%;
    background: rgb(62, 78, 214);
    padding: 25px;
    position: relative;
    transition: .6s;
}
#service-part .service:nth-child(odd) .details{
    text-align: end ;
    transition: .6s;
}
#service-part .service .details .shape{
    height: 20px;
    width: 20px;
    background: rgb(62, 78, 214);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%) rotate(45deg);   
}
#service-part .service:nth-child(odd) .details .shape{
    position: absolute;
    top: 50%;
    left: 510px;
    transform: translate(-50%,-50%) rotate(45deg);
}
/* ================My works==================== */