@media (min-width:320px) and (max-width:575px){
    .title p {
        width: auto;
    }
    nav{
        border-bottom: 0px;
    }
    nav button i{
        color: white;
    }
    nav ul{
        background: #444444;
        border-radius: 5px;
        text-align: center;
    }
    nav ul li {
        margin-left: 0px;
        padding: 15px 0;
    }
    nav ul li a::after {
        display: none;
    }
    
    nav ul li .active:after{
        width: 235px;
    }
    #banner-part .overlay h2 {
        font-size: 25px;
        margin-top: -161px;
    }
    #banner-part .overlay p {
        width: auto;
        margin: 35px auto;
        margin-bottom: 45px;
    }
    #banner-part .next {
        top: 89%;
        right: 100px;
    }
    #banner-part .prev {
        top: 89%;
        left: 100px;
    }
    #banner-part .overlay a {
        padding: 7px;
    }
    #banner-part .banner{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    #banner-part .banner1{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    #banner-part .banner2{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    #banner-part .overlay{
        padding-top: 327px;
        padding-bottom: 121px;
    }
    #about-part .item-top p{
        width: auto;
    }
    #about-part .item-left p{
        width: auto;
    }
    #about-part .item-right p{
        width: auto;
    }
    #about-part .item-bottom p{
        width: auto;
    }

    #about-part .item-left{
        text-align: center;
        margin-top: 10px;
    }
    #about-part .item-right{
        text-align: center;
        margin-bottom: 10px;
    }
    

    #about-part .item-top .shape {
        display: none;
    }
    #about-part .item-top i{
        display: none;
    }
    #about-part .item-left .shape {
        display: none;
    }
    #about-part .item-left i{
        display: none;
    }
    #about-part .item-bottom .shape {
        display: none;
    }
    #about-part .item-bottom i{
        display: none;
    }
    #about-part .item-right .shape {
        display: none;
    }
    #about-part .item-right i{
        display: none;
    }
    #about-part .round {
        width: 270px;
        height: 270px;
    }
    #about-part .round .img {
        width: 250px;
        height: 250px;
    }
    #portfolio-part {
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    }
    #portfolio-part .overlay {
        padding: 35px 0;
    }
    #service-part .service {
        flex-direction: column;
    }
    #service-part .service:nth-child(2n+1) {
        flex-direction: column;
    }
    #service-part .service .heading {
        width: 100%;
        justify-content: center;
    }
    #service-part .service:nth-child(2n+1) .heading {
        justify-content: center;
    }
    #service-part .service .logo {
        width: 100%;
        margin: 20px 0;
    }
    #service-part .service .details {
        width: 100%;
        margin-top: 10px;
    }
    #service-part .service .details .shape {
        display: none;
    }
    #service-part .line {
        width: 0px;
    }
    #service-part .down {
        height: 30px;
        font-size: 15px;
        width: 30px;
        line-height: 30px;
        top: 101%;
        left: 43%;
        transform: translatex(-50%) rotate(90deg);
    }
    #service-part .up {
        height: 30px;
        font-size: 15px;
        width: 30px;
        line-height: 27px;
        top: 101%;
        left: 57%;
        transform: translatex(-50%) rotate(90deg);
    }
    #service-part .service .details p {
        width: auto;
    }

    #testi-part {
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    #testi-part .bg .shape {
        display: none;
    }
    #testi-part .bg {
        margin-top: 160px;
        width: auto;
        height: auto;
        margin-left: 0px;
    }
    #testi-part .white-line {
        display: none;
    }
    #testi-part .up {
        border: 0px solid white;
        top: 31%;
        left: 89%;
        transform: translatex(-50%) rotate(90deg);
    }
    #testi-part .down {
        border: 0px solid white;
        top: 31%;
        left: 11%;
        transform: translatex(-50%) rotate(90deg);
    }
    #testi-part .overlay {
        padding: 50px 0;
    }
    #testi-part .testi-slider {
        margin-top: 0px;
        margin-bottom: -87px;
    }
    #testi-part .bg .image {
        margin-left: 0;
    }

    #counter-part {
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    }
    #counter-part .angle {
        transform: rotate(0deg);
    }
    #counter-part .overlay .item {
        margin: 10px 32px;
    }
    #sponsor-part {
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
        margin-top: 5px;
    }
    #sponsor-part .angle {
        transform: rotate(0deg);
    }

    #logo-part {
        margin-top: 0px;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    }
    footer .item {
        border-right: 0px solid #555555;    
    }

    footer .icons i {
        margin: 30px 6px;
    }
    #team-part .member {
        margin: 10px 0;
    }
    /* ====================================== */
}


