*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    display: flex;
}
.title{
    text-align: center;
    margin-bottom: 60px;
}
.title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: black;
}
.title p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    width: 568px;
    margin: 30px auto;
}
/* ==============navbar-part start=============== */

nav{   
    border-bottom:1px solid #fec600;
    position: absolute !important;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul li {
    margin-left: 30px;
    padding: 25px 0;
}

nav ul li a{
    color: white !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: .6s;
    position: relative;
}
nav ul li a:hover{
    color: #fec600 !important;
}
nav ul li a:after{
    position:absolute;
    bottom: -35px;
    left: 0;
    background: #fec600;
    width: 100%;
    height: 3px;
    opacity: 0;
    transition: .6s;
    content: "";
    
}
nav ul li a:hover::after{
    opacity: 1;
}
nav ul li .active{
    color: #fec600 !important;
    opacity: 1;
}
nav ul li .active:after{
    width: 100%;
    opacity: 1;
}
/* ==============navbar-part end=============== */
/* ==============banner-part start=============== */
#banner-part .banner{
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
    
}
#banner-part .banner1{
    background: url(../images/banner1.jpg) no-repeat center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
}
#banner-part .banner2{
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
}
#banner-part .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.781);
    text-align: center;
    padding: 327px 0;
}
#banner-part .overlay h2{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: white;
}
#banner-part .overlay h1{
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    font-weight: 700px;
    color: #fec600;
    margin-top: 10px;
    margin-bottom: 15px;
}
#banner-part .overlay p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    width: 540px;
    margin: 0 auto;
    margin-bottom: 60px;
}
#banner-part .overlay a{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 20px;
    border: 1px solid white;
    margin-left: 20px;
    transition: .6s;
}
#banner-part .overlay a:hover{
    background: #fec600;
    color: black;
    border: 1px solid #fec600;
}
#banner-part .prev{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 40px;
    color:white;
    transition: .4s;
}
#banner-part .prev:hover{
    color: #fec600;
}
#banner-part .next{
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 40px;
    color:white;
    transition: .4s;
}
#banner-part .next:hover{
    color: #fec600;
}
/* ==============banner-part end=============== */
/* ==============about-part start=============== */
#about-part{
    margin-top: 100px;
    text-align: center;
    
}
#about-part .alignment{
    display: flex;
    align-items: center;
}

#about-part .round{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-part .round .img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: relative;
    
}
#about-part .round .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
}
#about-part .round .img .overlay{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left:0;
}
#about-part .item-top{
    background: #eeeeee;
    margin: 0px auto;
    padding: 40px;
    text-align: center;
    position: relative;
    transition: .4s;  
}
#about-part .item-top h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
}
#about-part .item-top p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    width: 305px;
    margin: 0 auto;
}
#about-part .item-top .shape{
    width: 40px;
    height: 40px;
    background: #eeeeee;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
#about-part .item-top i{
    position: absolute;
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
}
#about-part .item-top:hover{
    filter: drop-shadow(0 0 4px black);
}
#about-part .item-top:hover i{
    color: #fec600;
}

/* ==========LEFT======== */

#about-part .item-left{
    background: #eeeeee;
    margin: 0px auto;
    padding: 40px;
    text-align: right;
    position: relative;
    transition: .4s;  
}
#about-part .item-left h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
}
#about-part .item-left p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    width: 305px;
    margin: 0 auto;
}
#about-part .item-left .shape{
    width: 40px;
    height: 40px;
    background: #eeeeee;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%) rotate(45deg);
}
#about-part .item-left i{
    position: absolute;
    top: 50%;
    right: -72px;
    transform: translateY(-50%);
    transition: .4s;
}
#about-part .item-left:hover{
    filter: drop-shadow(0 0 4px black);
}
#about-part .item-left:hover i{
    color: #fec600;
}

/* ==========RIGHT=========== */

#about-part .item-right{
    background: #eeeeee;
    margin: 0px auto;
    padding: 40px;
    text-align: left;
    position: relative;
    transition: .4s;  
}
#about-part .item-right h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
}
#about-part .item-right p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    width: 305px;
    margin: 0 auto;
}
#about-part .item-right .shape{
    width: 40px;
    height: 40px;
    background: #eeeeee;
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translateY(-50%) rotate(45deg);
}
#about-part .item-right i{
    position: absolute;
    top: 50%;
    left: -71px;
    transform: translateY(-50%);
    transition: .4s;
}
#about-part .item-right:hover{
    filter: drop-shadow(0 0 4px black);
}
#about-part .item-right:hover i{
    color: #fec600;
}

/* ===========BOTTOM=========== */

#about-part .item-bottom{
    background: #eeeeee;
    margin: 0px auto;
    padding: 40px;
    text-align: center;
    position: relative;
    transition: .4s;  
}
#about-part .item-bottom h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
}
#about-part .item-bottom p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    width: 305px;
    margin: 0 auto;
}
#about-part .item-bottom .shape{
    width: 40px;
    height: 40px;
    background: #eeeeee;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
#about-part .item-bottom i{
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
    transition: .4s;
}
#about-part .item-bottom:hover{
    filter: drop-shadow(0 0 4px black);
}
#about-part .item-bottom:hover i{
    color: #fec600;
}

/* ==============about-part end=============== */
/* ==============portfolio-part end=============== */
#portfolio-part{
    margin-top: 100px;
    background: url(../images/posrtfolio-bf.png) no-repeat center;
    background-size: cover;
    clip-path: polygon(0 10%, 100% 0, 100% 89%, 0% 100%);
}
#portfolio-part .title h2{
    color: white;
}
#portfolio-part .title p{
    color: white;
}
#portfolio-part .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 200px 0;
}
#portfolio-part .img{
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}
#portfolio-part .img img{
    width: 100%;
    transition: 4s;
    overflow: hidden;
}
#portfolio-part .img:hover img{
    transform: scale(1.1);
}
#portfolio-part .img .img-overlay{
    height: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.801);
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
    text-align: center;
}
#portfolio-part .img:hover .img-overlay{
    height: 100%;
}
#portfolio-part .img .img-overlay i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: white;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .6s;
    cursor: pointer;
    opacity: 0;
}
#portfolio-part .img:hover .img-overlay i{
    opacity: 1;
}
#portfolio-part .img .img-overlay i:hover{
    background: #fec600;
    color: white;
}
/* ==============portfolio-part end=============== */
/* ==============service-part start=============== */
#service-part{
    margin-top: 100px;
    position: relative;
}
#service-part .service .service-slider{
    margin-top: 50px;
}
#service-part .line {
	width: 1px;
	height: 755px;
	background: url(../images/line.png);
	position: absolute;
	top: 142px;
	left: 50%;
	transform: translateX(-50%);
}
#service-part .up {
	height: 50px;
	font-size: 25px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	background: white;
	border: 1px solid black;
	color: black;
	position: absolute;
	top: -44px;
	left: 50%;
	transform: translatex(-50%);
	transition: .6s;
	cursor: pointer;
	z-index: 1;
}
#service-part .up:hover{
    background: #fec600;
	border:1px solid #fec600;
}
#service-part .down {
	height: 50px;
	font-size: 25px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	background: white;
	border: 1px solid black;
	color: black;
	position: absolute;
	bottom: -74px;
	left: 50%;
	transform: translatex(-50%);
	transition: .6s;
	cursor: pointer;
	z-index: 1;
}
#service-part .down:hover{
    background: #fec600;
	border:1px solid #fec600;
}
#service-part .service{
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}
#service-part .service:nth-child(odd){
    flex-direction: row-reverse;
}
#service-part .service .heading{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#service-part .service:nth-child(odd) .heading{
    justify-content: flex-start;
}
#service-part .service .heading h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 25px;
}
#service-part .service .logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#service-part .service .logo .round{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
}
#service-part .slick-center .logo .round{
    background: #fec600;
    transform: scale(1.3);
}
#service-part .service .details{
    width: 40%;
    background: #f1f1f1;
    padding: 30px;
    position: relative;
    transition: .6s;
}
#service-part .slick-center .details{
    filter: drop-shadow(0 0 0.4rem black);
}
#service-part .service .details p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    width: 406px;
    text-align: center;
}
#service-part .service .details .shape{
    height: 40px;
    width: 40px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%) rotate(45deg);   
}
#service-part .service:nth-child(2n+1) .details .shape {
	position: absolute;
	top: 50%;
	left: 510px;
	transform: translate(-50%,-50%) rotate(45deg);
}
/* ==============service-part end=============== */
/* ==============testi-part start=============== */

#testi-part{
    margin-top: 100px;
    background: url(../images/testibg.png) no-repeat center;
    clip-path: polygon(0 19%, 100% 0%, 100% 80%, 0% 100%);
}
#testi-part .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.801);
    padding:100px 0;
}
#testi-part .white-line{
    position: relative;
}
#testi-part .line{
    width: 1px;
    height: 472px;
    background: url(../images/line2.png);
    position: absolute;
    top: 91px;
    left: 50%;
    transform: translateX(-50%);
}
#testi-part .testi-slider{
    margin-top: 129px;
    margin-bottom: 59px;
}
#testi-part .overlay .round{
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    border-radius: 50%;
    margin: 15px auto;
    overflow: hidden;
    position: relative;
    transition: .6s;
}
#testi-part .overlay .round .img-overlay{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255,.6);
    position: absolute;
    top: 0;
    left:0;
    transition: .6s;
}
#testi-part .overlay .slick-center .round{
    background: #fec600;
    transform: scale(1.2);
}
#testi-part .overlay .slick-center .round .img-overlay{
    opacity: 0;
}

#testi-part .up{
	height: 50px;
	font-size: 25px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	background: transparent;
	border: 1px solid white;
	color: white;
	position: absolute;
	top: -86px;
	left: 50%;
	transform: translatex(-50%);
	transition: .6s;
	cursor: pointer;
	z-index: 1;
}
#testi-part .down{
	height: 50px;
	font-size: 25px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	background: transparent;
	border: 1px solid white;
	color: white;
	position: absolute;
	bottom: -88px;
	left: 50%;
	transform: translatex(-50%);
	transition: .6s;
	cursor: pointer;
	z-index: 1;
    transition: .6s;
}
#testi-part .up:hover{
    border: 1px solid #fec600;
    color: black;
    background: #fec600;
}
#testi-part .down:hover{
    border: 1px solid #fec600;
    color: black;
    background: #fec600;
}
#testi-part .bg{
    background: #faf6e6;
    padding: 60px 30px;
    margin-top: 160px;
    width: 834px;
    height: 341px;
    margin-left: 60px;
    position: relative;
}
#testi-part .bg .shape{
    height: 55px;
    width: 55px;
    border-radius: 17px;
    background: #faf6e6;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%,-50%) rotate(45deg);
}
#testi-part .bg h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: -3px;
}
#testi-part .bg .star i{
    color: #fec600;
}
#testi-part .bg h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;  
    margin-top: 8px;
    margin-bottom: 30px;
}
#testi-part .bg p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;  
}
#testi-part .bg .image{
    margin-left: 613px;
    margin-top: 38px;
}
/* ==============testi-part end=============== */
/* ==============pricing-part start=============== */
#pricing-part{
    margin-top: 100px;
}
#pricing-part .item{
    background: #f1f1f1;
    transition: .6s;
}
#pricing-part .item:hover{
    -webkit-box-shadow: 0px 0px 15px -4px #000000; 
    box-shadow: 0px 0px 15px -4px #000000;
}
#pricing-part .item h3{
    color: white;
    padding-top: 30px;
    padding-bottom: 95px;
    background: #444444;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 100%);
    transition: .6s;
}
#pricing-part .item:hover h3{
    background: #fec600;
    color: black;
}
#pricing-part .item .list{
    padding-top: 50px;
    padding-bottom: 0px;
    position: relative;
}
#pricing-part .item .list ul{
    text-align: center;
    padding-left: 0;
}
#pricing-part .item .list ul li{
    margin: 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#pricing-part .item .list .circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #444444;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-79%);
    transition: .6s;
}
#pricing-part .item:hover .list .circle{
    border:1px solid #fec600;
}
#pricing-part .item .list .circle .inner-circle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: #444444;
    text-align: center;
    transition: .6s;
}
#pricing-part .item:hover .list .circle .inner-circle{
    background: #fec600;
    color: black;
}
#pricing-part .item .list .circle .inner-circle h4{
    margin-top: 18px;
    margin-bottom: -7px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 29px;
    transition: .6s;
}
#pricing-part .item:hover .list .circle .inner-circle h4{
    color: black;
}
#pricing-part .item .list .circle .inner-circle span{
    color: white;
    margin-bottom: -5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    transition: .6s;
}
#pricing-part .item:hover .list .circle .inner-circle span{
    color: black;
}
#pricing-part .item p{
    color: white;
    padding-bottom: 25px;
    padding-top: 43px;
    background: #444444;
    text-align: center;
    clip-path: polygon(0 47%, 100% 0, 100% 100%, 0% 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: .6s;
}
#pricing-part .item:hover p{
    background: #fec600;
    color: black;
}
/* ==============pricing-part end=============== */
/* ==============counter-part start=============== */
#counter-part{
    background: url(../images/counter-bg.png) no-repeat top;
    background-size: cover;
    margin-top: 100px;
    clip-path: polygon(0 26%, 100% 0, 100% 78%, 0% 100%);
}
#counter-part .angle{
    transform: rotate(-2deg);
}
#counter-part .overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.76);
    padding: 65px 0;   
}
#counter-part .overlay .item{
    padding: 20px 0;
    border: 1px solid white;
    color: white;
    text-align: center;
}
#counter-part .overlay .item h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
#counter-part .overlay .item p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
/* ==============counter-part end=============== */
/* ==============member-part start=============== */

#team-part{
    margin-top: 100px;
    /* height: 558px; */
}
#team-part .member{
    border: 1px solid #cacaca;
}
#team-part .member .image{
    height: 270px;
    background: #f1f1f1;
    overflow: hidden;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    position: relative;
}
#team-part .member .image img{
    margin-top: 10px;
}
#team-part .member .image .overlay{
    height: 0%;
    width: 100%;
    background: #fec7008f;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .6s;
}
#team-part .member:hover .image .overlay{
    height: 100%;
    opacity: 1;
}

#team-part .member .image .overlay i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: black;
    background: white;
}
#team-part .member .text{
    text-align: center;
}
#team-part .member .text h2{
    margin-top: 14px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
#team-part .member .text p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
#team-part .member .text .icon{
    margin-top: -44px;
    opacity: 0;
    transition: .6s;
}

#team-part .member:hover .text .icon{
    margin-top: 0px;
    opacity: 1;
}
#team-part .member .text .icon i{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    line-height: 35px;
    color: rgb(41, 41, 41);
    border: 1px solid rgb(41, 41, 41);
    margin: 0 10px;
    margin-bottom: 20px;
    transition: .4s;
}
#team-part .member .text .icon i:hover{
    background: #fec600;
    border: 1px solid #fec600;

}
/* ==============member-part end=============== */
/* ==============sponsor-part end=============== */
#sponsor-part{
    margin-top: 100px;
    background: #f1f1f1;
    padding: 62px 0;
    clip-path: polygon(0 26%, 100% 0, 100% 78%, 0% 100%);
}
#sponsor-part .angle{
    transform: rotate(-2deg);
}
#sponsor-part .item{
    border: 1px solid #9c9c9c;
    margin: 0 15px;
}
#sponsor-part .slick-center{
    border: 1px solid #fec600;
}
#sponsor-part .item .image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
}
/* ==============sponsor-part end=============== */
/* ==============logo-part start=============== */
#logo-part{
    margin-top: -52px;
    background: #222222;
    clip-path: polygon(0 32%, 100% 0, 100% 68%, 0% 100%);
    z-index: -1;
    position: relative;
    padding: 68px 0;
}
#logo-part .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ==============logo-part end=============== */
/* ==============footer-part start=============== */
footer{
    background: #222222;
    margin-top: -61px;
    text-align: center;
}
footer .item{
    text-align: center;
    border-right: 1px solid #555555; 
    margin-top: 72px;
    padding: 0 21px;
}
footer .lastitem{
    border-right: 0px;
}
footer .item i{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    line-height: 35px;
    color: #222222;
    background: #fec600;
    margin-bottom: 20px;
}
footer .item p{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 250;
    margin: 0 auto;
   
}
footer h2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 60px;
}
footer .icons i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    background: white;
    margin: 30px 20px;
    transition: .6s;
}
footer .icons i:hover{
    background: #fec600;
}
footer h5{
    background: #444444;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: white;
    padding: 20px 0;
}
footer h5 span{
    color: #fec600;
}
/* ==============footer-part end=============== */
