*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.title{
    margin-bottom: 50px;
    text-align: center;
}
.title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
/* ===========navbar=============== */
nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: transparent;
    padding: 30px 0;
}
nav .main{
    display: flex;
}
nav .logo{
    width: 20%;
}
nav .navitems{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .navitems ul{
    text-align: right;
}
nav .navitems ul li{
    display: inline-block;
    margin-left: 40px;
    
    
}
nav .navitems ul li a{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    transition: .6s;
    position: relative;
}
nav .navitems ul li a:hover{
    color: #744fa0;
}
nav .navitems ul li a::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #744fa0;
    content: "";
    transition: .4s;
}
nav .navitems ul li a:hover:after{
    width: 30%;
}
nav .button{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
nav .button a{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background: #744fa0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .6s;
}
nav .button a:hover{
    background: white;
    color: black;
}


/* ===========navbar=============== */
/* ===========banner=============== */
#banner-part{
    position: relative;
}
#banner-part i{
    position: absolute;
    top: 36%;
    right: 22px;
    z-index: 1;
    color: #fff;
    transform: translateY(-50%);
}
#banner-part .banner{
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;
    
}
#banner-part .banner .overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    color: white;
    text-align: right;
    padding: 100px 0;
}
#banner-part .banner .overlay h1{
    font-family: 'Raleway', sans-serif;
    font-size: 56px;
    font-weight: 700; 
    padding-top: 30px;
}
#banner-part .banner .overlay h1::first-letter {
    color: #744fa0;
}
#banner-part .banner .overlay h3{
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin-top: 25px;
    position: relative;

}
#banner-part .banner .overlay h3:before{
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 200px;
    height: 1px;
    background: #fff;
    content: "";

}
#banner-part .banner .overlay .details{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 470px;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}
#banner-part .banner .overlay a {
    background: #744fa0;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    padding-left: 60px;
    text-align: left;
    position: relative;
    border-radius: 5px;
    transition: .6s;
    margin-left: 10px;
}
#banner-part .banner .overlay a i {
    font-size: 33px;
    position: absolute;
    top: 28px;
    left: 20px;
    transition: .6s;
}
#banner-part .banner .overlay a .avail {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#banner-part .banner .overlay h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#banner-part .banner .overlay a:hover {
    background: #fff;
    color: #000;
}
#banner-part .banner .overlay a:hover i{
    color: black;
}
#banner-part .slick-dots {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#banner-part .slick-dots li {
    margin-bottom: 20px;
}

#banner-part .slick-dots li button {
    background: transparent;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0;
    position: relative;
}

#banner-part .slick-dots li button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #744fa0;
    content: "";
    opacity: 0;
}

#banner-part .slick-dots .slick-active button {
    border-color: #744fa0;
}

#banner-part .slick-dots .slick-active button:after {
    opacity: 1;
}
/* ===========banner=============== */

/* ===========about-part=============== */
#about-part{
    margin-top: 100px;
}
#about-part .main{
    display: flex;
}
#about-part .details{
    width: 60%;
    text-align: center;
}
#about-part .title{
    margin-top: 100px;
}
#about-part .image{
    width: 40%;
}
#about-part .details p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 100px;
    width: 570px;
    color: #898989;

}

/* ===========about-part=============== */
/* ===========feature-part=============== */
#feature-part{
    margin-top: 100px;
    background: #f1f1f1;
    padding: 30px;
}
#feature-part .main{
    display: flex;
    justify-content: space-between;
}
#feature-part .left{
    width: 30%;
}
#feature-part .left .feature{
    position: relative;
    padding-left: 60px;
    margin-bottom: 60px;
    transition: .6s;
}
#feature-part .left .feature:hover{
    color: #744fa0;
}
#feature-part .left .feature:hover p{
    color: #744fa0;
}
#feature-part .left .feature::after{
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 270px;
    height: 1px;
    background: black;
    content: "";
    transition: .6s;
}
#feature-part .left .feature:hover::after{
    width: 370px;
    background: #744fa0;
}
#feature-part .left .feature:last-child::after{
    opacity: 0;
}
#feature-part .left i{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 42px;
}
#feature-part .left h4{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#feature-part .left p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}
#feature-part .middle{
    width: 30%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#feature-part .right{
    width: 30%;
    text-align: right;

}
#feature-part .right h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 120px;
} 
#feature-part .right p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #777777;
    margin-top: 30px;
    
}
/* ===========feature-part=============== */
/* ===========screenshot-part=============== */
#screenshot-part{
    margin-top: 100px;
}
#screenshot-part img{
    margin: 0 10px;
}
#screenshot-part .slick-dots{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}
#screenshot-part .slick-dots li{
    display: inline-block;
    margin: 10px 10px;
}
#screenshot-part .slick-dots li:last-child{
    display: none;
}
#screenshot-part .slick-dots li button{
    background: transparent;
    border: 3px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0;
    position: relative;

}
#screenshot-part .slick-dots li button::after{
    position: absolute;
    top: 7px;
    left: 7px;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #744fa0;
    content: "";
    opacity: 0;
}
#screenshot-part .slick-dots .slick-active button{
    border-color: #744fa0;
}
#screenshot-part .slick-dots .slick-active button::after{
    opacity: 1;
}
/* ===========screenshot-part=============== */
/* ===========video-part=============== */
#video-part{
    margin-top: 200px;
}
#video-part .video{
    background: url(../images/video_img.jpg) no-repeat center;
    background-size: cover;
}
#video-part .video .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.705);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0
}
#video-part .video .overlay i{
    font-size: 100px;
    color: white;
    transition: .6s;
}
#video-part .video .overlay i:hover{
    color: rgb(124, 122, 122);
}
/* ===========video-part=============== */
/* ===========pricing-part=============== */
#pricing-part{
    margin-top: 100px;
}
#pricing-part .main{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
#pricing-part .main .price{
    width: 23%;
    transition: .6s;  
}
#pricing-part .main .price h3{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #353535;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: #f1f1f1;
    padding: 15px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: .6s;
}
#pricing-part .main .price:hover h3{
    color: white;
    background-color: #744fa0;
}
#pricing-part .main .price .inner-price{
    padding: 20px 0;
    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1;
}
#pricing-part .main .price .inner-price .round{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    margin: 0 auto;
}
#pricing-part .main .price .inner-price .round h5{
    color: #353535;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 7px;
}
#pricing-part .main .price .inner-price .round h5 span{
    font-size: 47px;
}
#pricing-part .main .price .inner-price .round p{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #555;
}
#pricing-part .main .price ul{
    background: #f1f1f1;
    padding: 30px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#pricing-part .main .price ul li{
    margin-bottom: 15px;
    color: #555555;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-bottom: 8px;
}
#pricing-part .main .price .button{
    text-align: center;
}
#pricing-part .main .price .button a{
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: inline-block;
    transform: translateY(-50%);
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    transition: .6s;
}
#pricing-part .main .price:hover a{
    color: white;
    background-color: #744fa0;
    border: 1px solid #744fa0;
}


/* ===========pricing-part=============== */
/* ===========team-part=============== */
#team-part{
    margin-top: 100px;
    
}
#team-part .main{
    display: flex;
    justify-content: space-between;
}
#team-part .main .member{
    width: 30%;
    position: relative;
    margin-top: 100px;

}
#team-part .main .member .image{
    width: 100%;
    position: relative;
    top: 0;
    transition: .6s
}
#team-part .main .member .image img{
    width: 100%;
    display: block;
    border-radius: 15px;
}
#team-part .main .member:hover .image{
    top: -90px;
}

#team-part .main .member .image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 0;
    transition: .6s;
}
#team-part .main .member:hover .image .overlay{
    opacity: 1;
}
#team-part .main .member .text{
    width: 100%;
    padding: 30px;
    border: 2px solid #f1f1f1;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: .6s;
    text-align: center;
    box-sizing: border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
#team-part .main .member:hover .text{
    bottom: -124px;
}
#team-part .main .member .text h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #353535;
    margin-bottom: 20px;
}
#team-part .main .member .text h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #555555;
    margin-bottom: 24px;
}
#team-part .main .member .text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    width: 243px;
    text-align: center;
    margin-left: 44px;
    margin-bottom: 10px;
}
#team-part .main .member .image .overlay .icons{
    text-align: center;
    margin-top: 175px;
}
#team-part .main .member .image .overlay .icons i{
    color: black;
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 50px;
    margin: 0 5px;
    transition: .6s;
}
#team-part .main .member .image .overlay .icons i:hover{
    color: white;
    background: #1da1f2;
}
/* ===========team-part=============== */
/* ===========feedback-part=============== */
#feedback-part{
    margin-top: 180px;
    
}
#feedback-part .feedback{
    background: url(../images/terstibg.png) no-repeat center;
    background-size: cover;
    position: relative;
}
#feedback-part .feedback .overlay{
    background: rgba(0, 0, 0, 0.705) ;
    width: 100%;
    height: 100%;
    padding: 50px 0;
}
#feedback-part .feedback .overlay .top{
    width: 800px;
    padding: 35px;
    background: #f1f1f1;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}
#feedback-part .feedback .overlay .top .shape{
    height: 28px;
    width: 28px;
    background: #f1f1f1;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%) rotate(45deg);

}
#feedback-part .feedback .overlay .top .text{
    text-align: center;
}
#feedback-part .feedback .overlay .top .text p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    width: 664px;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 30px;
}
#feedback-part .feedback .overlay .top .text p span{
    color: #744fa0;
    font-size: 30px;

}
#feedback-part .feedback .overlay .top .text .star i{
    color: #744fa0;
    margin-bottom: 5px;
}
#feedback-part .feedback .overlay .top .text h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #353535;   
}
#feedback-part .feedback .overlay .top .text h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    /* margin-bottom: -20px; */
}
#feedback-part .feedback .overlay .bottom{
    width: 400px;
    margin: 30px auto;

}
#feedback-part .feedback .overlay .bottom .img{
    width: 100px;
    margin: 20px 15px;
    border-radius: 50%;
    position: relative;
    border: 2px solid transparent;
    transition: .6s;

}
#feedback-part .feedback .overlay .bottom .img img{
    width: 100%;
}
#feedback-part .feedback .overlay .bottom .img .bottomoverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: .6s;
}
#feedback-part .feedback .overlay .bottom .slick-center{
    transform: scale(1.3);
    border: 2px solid #744fa0;
}
#feedback-part .feedback .overlay .bottom .slick-center .bottomoverlay{
    opacity: 0;
}
#feedback-part .feedback .overlay .bottom .slick-dots{
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}
#feedback-part .feedback .overlay .bottom .slick-dots li{
    display: inline-block;
    margin: 5px 8px;

}
#feedback-part .feedback .overlay .bottom .slick-dots li button{
    background: transparent;
    border: 3px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0;
    position: relative;

}
/* #feedback-part .feedback .overlay .bottom .slick-dots li:last-child{
    display: none;
} */
#feedback-part .feedback .overlay .bottom .slick-dots li button::after{
    position: absolute;
    top: 7px;
    left: 7px;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #744fa0;
    content: "";
    opacity: 0;
}
#feedback-part .feedback .overlay .bottom .slick-dots .slick-active button{
    border-color: #744fa0;
}
#feedback-part .feedback .overlay .bottom .slick-dots .slick-active button::after{
    opacity: 1;
}
/* ===========feedback-part=============== */
/* ===========contact-part=============== */
#contact-part{
    margin-top: 100px;
}
#contact-part .main{
    display: flex;
    justify-content: space-between;
}
#contact-part .main input{
    width: 30%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
#contact-part .main input::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
#contact-part textarea{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}
#contact-part textarea::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
#contact-part .button{
    text-align: center;
}
#contact-part .button button{
    background: #744fa0;
    padding: 10px 20px;
    color: white;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    border-radius: 5px;
    transition: .6s;
}
#contact-part .button button:hover{
    background: white;
    color: black;
}

footer{
    margin-top: 100px;
    background-color: #353535;
}
footer .logo{
    text-align: center;
    padding: 30px;
}
footer .links{
    text-align: center;
} 
footer .links i{
    color: #353535;
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 50px;
    margin: 0 5px;
    transition: .6s;
}
footer .links i:hover{
    color: white;
    background: #1da1f2;
}
footer .copyright{
    text-align: center;
    padding: 30px;
}
footer .copyright p{
    color: white;
}
footer .copyright span{
    color: #744fa0;
}
/* ===========contact-part=============== */